_*/
bin/
obj/
node_modules/
packages/
workbooks-proprietary/

*.Tests.xml
TestResults/

External/Newtonsoft.Json*
*.dll
*.mdb
*.exe
*.userprefs
*.pkg
*.zip
*.pem
*.msi
*.tree
appcast.xml
appcast-win.xml
updater-release-notes-*.html
.vs/
*.suo
*.user
.DS_Store
*.nupkg
**/Resource.designer.cs
*.sdf
*.opensdf
ipch/
IDE/Xamarin.Interactive.VS/expvs*
IDE/Xamarin.Interactive.VS/ActivityLog.xsl
*.opendb
UpgradeLog.htm
*.pdb
Clients/CrossBrowser/Xamarin.CrossBrowser.Generator/ICSharpCode.*.xml
Tools/ApiDump/ICSharpCode.*.xml
Tools/Xamarin.CITooling/*.xml
ProseMirror/prosemirror.js
*.VC.db
sign-*.txt
*.bak
