.hidden {
    visibility: none;
}

.MonacoCellEditor-container {
    height: 100vh;
}

.container-fluid {
    /* Give the top container a bit of space from the top of the page */
    margin-top: 15px;
}

.monaco-editor.mac.vs {
    z-index: 1001;
}

.DraftEditor-root pre {
    border: none;
    border-radius: 0;
    background: transparent;
    margin: 0;
    padding: 0;
}