.monaco-editor,
.monaco-editor .margin,
.monaco-editor.mac.vs,
.monaco-editor-background {
  background: transparent !important;
}

.monaco-editor {
  padding: 0;

  .line-numbers {
    color: #ccc !important;
  }

  .current-line {
    display: none !important;
  }

  .editor-widget,
  .monaco-editor-hover {
    z-index: 10000; // Same as our UI dropdowns
  }

  .selectionHighlight {
    background: rgba(173, 214, 255, 0.5) !important;
  }

  .cursor {
    width: 1px !important;
    opacity: 0.8 !important;
  }
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row .icon {
  background-size: 16px 16px !important;
  top: 0; // Override placement that prevents aligning icon with completion text
}

.xi-diagnostic {
  border-bottom: 1px solid rgba(219, 33, 49, 0.25);
}