$iconSize: 48px;
$descriptionSpacing: 0.85em;

@mixin reset() {
  margin: 0;
  padding: 0;
}

.PackageSearch-panel {
  .PackageSearch-header {
    @include reset;
    margin: 0 32px 16px 32px;

    .PackageSearch-header-text {
      @include reset;
      margin-bottom: 24px;
      font-size: 28px;
      font-weight: lighter;
    }
  }

  .PackageSearch-list {
    .PackageSearch-item {
      display: flex;
      flex-direction: row;

      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #ddd;

      &:last-child {
        margin-bottom: none;
        padding-bottom: none;
        border: none;
      }

      .PackageSearch-item-icon {
        @include reset;
        flex: 0 1 auto;
        margin-right: 16px;
        background-repeat: no-repeat;
        background-size: contain;
        min-width: $iconSize;
        min-height: $iconSize;
        width: $iconSize;
        height: $iconSize;
      }

      .PackageSearch-item-details {
        h1 {
          @include reset;
          font-size: 1.25em;
        }

        .PackageSearch-item-details-summary {
          font-size: 0.85em;
          opacity: 0.85;
          margin: 0.25em 0 $descriptionSpacing 0;

          .PackageSearch-item-details-version {
            font-weight: bold;
            padding-right: 0.7em;
            margin-right: 0.7em;
            border-right: 1px solid #ddd;
          }

          .PackageSearch-item-details-downloads {
            color: #666;
          }
        }

        .PackageSearch-item-details-actions {
          margin-top: $descriptionSpacing;
          display: flex;
          flex-direction: row;
          align-items: center;

          > button {
            margin-right: 1em;
          }
        }
      }
    }
  }
}