<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ToolsComponents" Directory="ToolsInstallFolder">
      <Component Id="Xamarin.Interactive.Mac.SimChecker.exe" Guid="2635679D-1D44-4BC5-99CE-6A9DCA3327CD">
        <File Id="Xamarin.Interactive.Mac.SimChecker.exe" Source="$(var.Xamarin.Interactive.Client.Mac.SimChecker.TargetDir)\Xamarin.Interactive.Mac.SimChecker.exe"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>